<h2
        class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200"
      >
        Charts
      </h2>
      
<div class="grid gap-6 mb-8 md:grid-cols-2">
    <div class="">
      <canvas baseChart width="400" height="400"
        [type]="'line'"
        [data]="lineChartData"
        [options]="lineChartOptions"
        [legend]="lineChartLegend">
      </canvas>
    </div>
    <div
      class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800"
    >
      <h4 class="mb-4 font-semibold text-gray-800 dark:text-gray-300">
        Revenue
      </h4>
      <div
        class="flex flex-col justify-center mt-4 space-x-3 text-sm text-gray-600 dark:text-gray-400"
      >
        <div class="">
          <canvas baseChart
            [type]="'pie'"
            [datasets]="pieChartDatasets"
            [labels]="pieChartLabels"
            [options]="pieChartOptions"
            [plugins]="pieChartPlugins"
            [legend]="pieChartLegend">
          </canvas>
        </div>
        <!-- Chart legend -->
        <div class="flex justify-between">
          <div class="flex items-center">
            <span
              class="inline-block w-3 h-3 mr-1 bg-blue-500 rounded-full"
            ></span>
            <span>Shirts</span>
          </div>
          <div class="flex items-center">
            <span
              class="inline-block w-3 h-3 mr-1 bg-teal-600 rounded-full"
            ></span>
            <span>Shoes</span>
          </div>
          <div class="flex items-center">
            <span
              class="inline-block w-3 h-3 mr-1 bg-purple-600 rounded-full"
            ></span>
            <span>Bags</span>
          </div>
        </div>
      </div>
    </div>
    <div
      class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800"
    >
      <h4 class="mb-4 font-semibold text-gray-800 dark:text-gray-300">
        Traffic
      </h4>
        <canvas baseChart
          [data]="barChartData"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [type]="'bar'">
        </canvas>
    </div>
    <div
        class="flex justify-center mt-4 space-x-3 text-sm text-gray-600 dark:text-gray-400"
      >
        <canvas baseChart
          [datasets]="bubbleChartDatasets"
          [options]="bubbleChartOptions"
          [legend]="bubbleChartLegend"
          [type]="'bubble'">
        </canvas>
      
      </div>
  </div>